.--hide {
	display: none;
}

.--visible {
	display: block;
}

body.no-scroll {
	overflow: hidden;
}
// Title
.title--main {
	font-weight: 500;
	font-size: 40px;
	line-height: 110%;
	letter-spacing: 0.02em;
}

.title--second {
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
}
//Btn
.btn--full {
	padding: 24px 49px;
	background-color: $accent-color;
	color: $white;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $action-color;
	}
}

.btn--transparent {
	border: 1px solid #6e9c9f;
	padding: 22px 50px;
	font-weight: 400;
	font-size: 17px;
	line-height: 139%;
	letter-spacing: 0.02em;
	text-align: center;
	color: $accent-color;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $action-color;
		transition: all 0.2s ease-in-out;
		color: $white;
	}
}
