@media (max-width: 1080px) {
	.important__title {
		text-align: center;
		margin-bottom: 60px;
	}
	.important__inner img {
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.important-card__title {
		text-align: center;
	}
	.important__card {
		margin: 0 auto;
		text-align: center;
	}
	.important__text {
		display: inline-block;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.important__inner {
		margin: 0 auto;
	}
	.important__card {
		margin-bottom: 30px;
	}
}

@media (max-width: 576px) {
	.important {
		margin-bottom: 10%;
	}
}
