.footer {
	background-color: $main-bg-color;
}
.footer__inner {
	padding-top: 97px;
	padding-bottom: 97px;
}
.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 39px;
	max-width: 100%;
	margin-left: 0;
}
.footer__nav {
	padding-top: 5px;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.02em;
}
.footer__list {
	display: flex;
	justify-content: space-between;
	gap: 0 45px;
}
.footer__link {
	transition: all 0.2s ease-in-out;
	&:hover {
		color: $action-color;
		transition: all 0.2s ease-in-out;
	}
}
.footer__action {
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-left: 120px;
	padding-top: 5px;
	letter-spacing: 0.021em;
}
.footer__phone {
	&::before {
		display: none;
	}
	margin-bottom: 5px;
}
.footer__mail {
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.02em;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 13px;

	line-height: 140%;
	letter-spacing: 0.02em;
}
.footer__bottom-left {
	max-width: 204px;
	padding-top: 12px;
	line-height: 140%;
}
.copiright {
	margin-top: -10px;
	margin-bottom: 9px;
}
.footer__bottom-nav {
	display: flex;
	flex-direction: column;
	height: 102px;
	margin-top: -30px;
}
.footer__bottom-nav-item {
	margin-bottom: 10px;
}
.social {
	margin-left: 370px;
	margin-top: -10px;
}
.social-item {
	display: flex;
	gap: 12px;
}
.social-link {
	margin-bottom: 31px;
}
.visa {
	text-align: right;
}
.visa__link {
	display: inline-block;
}
