.header {
	position: fixed;
	width: 100%;
	z-index: 10;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		height: 100px;
		width: 100%;
		background-color: $header-color;
	}
}

.burger {
	display: none;
}
