.important {
	margin-bottom: 130px;
}
.important__title {
	margin-bottom: 88px;
}
.important__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.important__card {
	margin-bottom: 20px;
	width: 350px;
}
.important__img {
	margin-bottom: 40px;
	line-height: 0.021em;
}
.important-card__title {
	margin-bottom: 25px;
}
.important__text {
	max-width: 310px;
}
