.important {
	margin-bottom: 130px;
}
.important__title {
	margin-bottom: 92px;
}
.important__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0 30px;
}
.important__card {
	max-width: 310px;
	margin-bottom: 30px;
}
.important__img {
	margin-bottom: 43px;
	line-height: 0.021em;
}
.important-card__title {
	font-weight: 500;
	font-size: 25px;
	text-align: left;
	margin-bottom: 30px;
}
