.team {
	margin-bottom: 130px;
}
.team__title {
	margin-bottom: 92px;
}
.team__pagination-inner {
	position: relative !important;
}
.team__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.team__slider {
	max-width: 729px;
	overflow: hidden;
	margin-right: 15px;
}
.team__slider-img-inner {
	max-width: 729px;
	max-height: 487px;
}
.team__slider-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.team__content {
	max-width: 255px;
	max-height: 279px;
	margin-left: auto;
	padding-top: 76px;
}
.team__content-title {
	margin-bottom: 30px;
}
.team__content-text span {
	display: inline-block;
	margin-bottom: 25px;
}
.team__content-text {
	margin-bottom: 25px;
}
.team__link-about-page {
	color: $accent-color;
}
.team-button-prev {
	position: absolute;
	left: -60px;
	top: 47.1%;
	transform: translateY(-50%);
	width: 29px;
	height: 16px;
	background-image: url(../assets/team-arrow-prev.svg);
	z-index: 10;
	cursor: pointer;
}
.team__arrow-next {
	position: absolute;
	right: 320px;
	top: 47.1%;
	transform: translateY(-50%);
	width: 29px;
	height: 16px;
	background-image: url(../assets/team-arrow-next.svg);
	z-index: 10;
	cursor: pointer;
}
.team__pagination {
	position: absolute;
	bottom: 57px !important;
	left: 308px !important;
	z-index: 100;
}
