$main-font: 'Inter';

$accent-color: #5dbd6d;
$action-color: #fd576c;

$header-color: Lavender;
$footer-color: Lavender;

$main-text-color: #151519;
$second-text-color: grey;

$main-bg-color: #f9fafc;
$second-bg-color: orange;

$burger-line-color: black;
